<div class="status-step-container">

    <div class="status-step-item"  [class.active]="step === 1" [class.completed]="step > 1">
        <div class="title-status-step">
            RICEZIONE<br>DOMANDA
        </div>
        <div class="bullet-status-step"></div>
    </div>
    
    <div class="status-step-item" [class.active]="step === 2" [class.completed]="step > 2">
        <div class="title-status-step">
            VERIFICA<br>DOCUMENTI
        </div>
        <div class="bullet-status-step"></div>
    </div>

    <div class="status-step-item" [class.active]="step === 3" [class.completed]="step > 3">
        <div class="title-status-step">
            APERTA<br>ISTRUTTORIA
        </div>
        <div class="bullet-status-step"></div>
    </div>

    <div class="status-step-item" [class.active]="step === 4" [class.completed]="step > 4">
        <div class="title-status-step">
            DEFINIZIONE<br>PRIORITA'
        </div>
        <div class="bullet-status-step"></div>
    </div>

    <div class="status-step-item" [class.active]="step === 5" [class.completed]="step > 5">
        <div class="title-status-step">
            INVIO A<br>REGIONE
        </div>
        <div class="bullet-status-step"></div>
    </div>

    <div class="status-step-item" [class.active]="step === 6" [class.completed]="step > 6">
        <div class="title-status-step">
            PUBBLICAZIONE<br>GRADUATORIA
        </div>
        <div class="bullet-status-step"></div>
    </div>

    <div class="status-step-item" [class.active]="step === 7" [class.completed]="step > 7">
        <div class="title-status-step">
            VERIFICA<br>OPERE COMPLETE
        </div>
        <div class="bullet-status-step"></div>
    </div>

    <div class="status-step-item" [class.active]="step === 8" [class.completed]="step > 8">
        <div class="title-status-step">
            VERIFICA<br>IMPORTI
        </div>
        <div class="bullet-status-step"></div>
    </div>

    <div class="status-step-item" [class.active]="step === 9" [class.completed]="step > 9">
        <div class="title-status-step">
            APPROVATA
        </div>
        <div class="bullet-status-step"></div>
    </div>

</div>