@use "../../../../assets/styles/variables" as variable;

.img-logo-com-roma {
  background-image: url("/assets/img/logo-roma.png");
  background-repeat: no-repeat;
  background-size: auto;
  width: auto;
  height: 120px;
  margin-left: 35px;
  padding-bottom: 10px;
}

.color-sub-navbar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  background-color: variable.$primary-color;
  // width: auto;
  height: 55px;
  padding-right: 100px;
}

.icon-profile-navbar {
  background-image: url("/assets/img/icon-profile.png");
  background-repeat: no-repeat;
  width: 4%;
  background-size: 70px;
}

.options-font-sub-navbar {
  color: variable.$color-user;
  padding-left: 1140px;
  padding-top: 18px;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.title-text {
  //OK
  font-size: x-large;
  font-weight: bolder;
}

.option-font {
  font-size: large;
  font-weight: bolder;
}

.block-info {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: variable.$primary-color;
  color: white;
  font-size: x-large;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.path-link {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  font-weight: bolder;
}

.container-sommario {
  display: flex;
  flex-direction: row;
  font-size: medium;
  font-weight: bolder;
  width: 90%;
  max-width: 630px;
  background-color: white;
  border: 2px solid white;
  box-shadow: 0 0 5px white;
  -moz-box-shadow: 0 0 5px white;
  -webkit-box-shadow: 0 0 5px #888;
}

.sommario-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.container-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 97%;
  //max-width: 630px;
  font-size: x-large;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 10px;
}

.option-button {
  cursor: pointer;
  font-size: medium;
  text-align: center;
  width: 141px;
  padding: 12px;
  color: variable.$primary-color;
  background-color: variable.$bg-sezioni;
}

.block-documentazione {
  display: flex;
  flex-direction: row;
  font-size: x-large;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 50px;
}

.block-text-documentazione {
  font-size: medium;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

.block-descrizione-servizio {
  //OK
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-loghi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  font-size: x-large;
}

.column-loghi {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.img-logo1 {
  background-image: url("/assets/img/logo1.png");
  background-repeat: no-repeat;
  background-size: 40px;
  padding: 10px;
  padding-left: 55px;
  padding-top: 9px;
  margin-top: 26px;
}

.img-logo2 {
  background-image: url("/assets/img/logo2.png");
  background-repeat: no-repeat;
  background-size: 40px;
  padding: 10px;
  padding-left: 55px;
  padding-top: 9px;
  margin-top: 26px;
}

.img-logo3 {
  background-image: url("/assets/img/logo3.png");
  background-repeat: no-repeat;
  background-size: 40px;
  padding: 10px;
  padding-left: 55px;
  padding-top: 9px;
  margin-top: 26px;
}

.img-logo4 {
  background-image: url("/assets/img/logo4.png");
  background-repeat: no-repeat;
  background-size: 40px;
  padding: 10px;
  padding-left: 55px;
  padding-top: 9px;
  margin-top: 26px;
}

.img-logo5 {
  background-image: url("/assets/img/logo_share.png");
  background-repeat: no-repeat;
  background-size: 40px 45px;
}

.img-logo6 {
  background-image: url("/assets/img/logo6.png");
  background-repeat: no-repeat;
  width: auto;
  height: 120px;
  margin-left: 65px;
}

.img-fb {
  background-image: url("/assets/img/logo_fb.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 50px;
}

.img-insta {
  background-image: url("/assets/img/logo_ig.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 50px;
}

.img-link {
  background-image: url("/assets/img/logo_ln.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 50px;
}

.img-tik {
  background-image: url("/assets/img/logo_tt.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 50px;
}

.img-twe {
  background-image: url("/assets/img/logo_x.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 50px;
}

.img-wa {
  background-image: url("/assets/img/logo_wu.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 50px;
}

.img-you {
  background-image: url("/assets/img/logo_yt.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 50px;
}

.img-cookie {
  background-image: url("/assets/img/cookie.png");
  background-repeat: no-repeat;
  width: 4%;
  background-size: 50px;
}

.img-freccia-giu {
  background-image: url("/assets/img/freccia_giu.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: 20px;
  padding: 0px;
}

.img-freccia-rossa {
  background-image: url("/assets/img/freccia_rossa.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: 20px;
  padding: 0px;
}

.button-invia-richiesta {
  cursor: pointer;
  height: 18px;

  text-align: center;
  width: 146px;
  padding: 12px;
  background-color: variable.$primary-color;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button-indietro {
  cursor: pointer;
  height: 18px;

  text-align: center;
  width: 146px;
  padding: 12px;
  background-color: variable.$primary-color;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-vai-alla-mia-situazione {
  cursor: pointer;
  font-weight: bold;
  height: 15px;
  text-align: center;
  width: 170px;
  padding: 12px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: white;
  color: variable.$primary-color;
  border-width: 3px;
  border-color: variable.$primary-color;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
}

.cursor-selected-pointer {
  cursor: pointer;
}

.download-pdf:hover {
  cursor: pointer;
  color: black;
}

.icons-wrap {
  flex-wrap: wrap;
  width: 232px;
}

.border-top {
  border-top: solid 0.5px white;
}
