<div class="row-center-center w100">

    <div class="column-left-center w-90">
        <!-- LINK VICINO NAVBAR -->
        <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>

        <div class="block-descrizione-servizio">
            <h3 class="title-text"> Descrizione del servizio</h3>
            <p> La legge n. 13 del 1989 detta le norme per l eliminazione delle barriere architettoniche negli edifici
                pubblici e privati.</p>
            <p>Prevede inoltre contributi per l adattamento degli edifici alle esigenze dei portatori di handicap.</p>
            <p>Proprietari di edifici pubblici e privati sono tenuti ad adeguare gli edifici alle norme tecniche entro 6
                mesi
                dall'entrata in vigore della legge.</p>
            <p>I portatori di handicap possono presentare domanda di contributo per l adattamento degli edifici alle
                proprie esigenze.</p>
            <p>Per informazioni più complete, consultare il testo completo della legge e la circolare del Ministero dei
                Lavori
                Pubblici.</p>
            <p>Aggiornato al 21 marzo 2024</p>
        </div>
    </div>
</div>




<section class="section-agevolazione">
    <div class="wrapper-agevolazioni">
        <h3 class="title-text">Come richiedere l’agevolazione</h3>
        <div class="block-agevolazione">


            <div class="block-text-agevolazione">

                <div class="img-logo1">
                    Accedi alla procedura e compila il modulo con i dati richiesti
                </div>

                <div class="img-logo2">
                    Scannerizza i documenti e caricali sul portale
                </div>

                <div class="img-logo3">
                    Accedi alla tua dashboard e consulta lo stato della tua domanda
                </div>

            </div>


            <div class="block-text-agevolazione second-block">

                <div class="option-font">
                    <p>Hai altre domande?</p>
                </div>

                <p>Ufficio agevolazioni</p>

                <p class="color-red">ufficio.agevolazioni&#64;comunediroma.it</p>

                <p>06 0192304 (dal lunedì al venerdi dalle ore 9.00 alle 13.00)</p>


            </div>

        </div>
    </div>
</section>

<div class="row-center-center container-button">
    <app-button (click)="backToHomePage()">indietro</app-button>
    <app-button (click)="inviaRichiesta()">VAI ALLA MIA SITUAZIONE</app-button>
</div>