// colori
$primary-color: rgb(142, 0, 28);
$color-white: white;
$color-text: #000000;
$dark-grey: rgb(48, 55, 61); //bg footer
$color-user: rgb(255, 179, 0); //user color
$bg-sezioni: rgb(247, 249, 250); //bg sezioni grigie
$color-arrow-table: rgb(73, 80, 87); //colore freccetta tabella exapander
$border-tr-table: rgb(174, 181, 189); //bordo tr table

// breackpoints
$max-width-pointbreak: 1730px;
$screen-responsive: 992px;
$screen-responsive-medium: 1024px;
