.p-1px {
  padding: 1px;
}

.p-5px {
  padding: 5px;
}

.p-10px {
  padding: 10px;
}


.p-15px {
  padding: 15px;
}

.p-30px {
  padding: 30px;
}
.pl-5px {
  padding-left: 5px;
}

.pl-10px {
  padding-left: 10px;
}

.pl-20px {
  padding-left: 20px;
}

.pl-30px {
  padding-left: 30px;
}


.pl-55px {
  padding-left: 55px;
}

.pl-80px {
padding-left:80px;
}

.pl-175px{
  padding-left: 175px;
}

.pl-200px{
  padding-left: 200px;
}

.pl-300px{
  padding-left: 300px;
}

.pl-630px{
  padding-left: 630px;
}

.pt-5px {
  padding-top: 5px;
}

.pt-8px {
  padding-top: 8px;
}

.pt-9px {
  padding-top: 9px;
}


.pr-5px {
  padding-right: 5px;
}

.pr-10px {
  padding-right: 10px;
}

.pr-15px {
  padding-right: 15px;
}

.pr-20px {
  padding-right: 20px;
}

.pr-80px {
  padding-right: 80px;
}

.pr-100px {
  padding-right: 100px;
}

.pr-200px {
  padding-right: 200px;
}

.pr-130px {
  padding-right: 130px;
}

.pr-150px {
  padding-right:150px;
  }

.pb-5px {
  padding-bottom: 5px;
}

.p-05em {
  padding: 0.5em;
}
