<!-- FOOTER -->

<footer class="background-grey footer-wrapper">
    
    <div class="footer-container container-logo">
        <img src="assets/img/logo_roma_white.png" alt="Roma Capitale">
    </div>

    <div class="row-center-center w-100">

        <div class="footer-container footer-row flex-wrap">

            <div class="footer-column color-white ">
                <div class="title-text mt-50px titolo-footer">Contatti</div>
                <div class="mt-26px title-text">Piazza del Campidoglio 1</div>
                <div class="title-text">00186 Roma</div>
                <div class="mt-12px">Partita IVA 01057861005</div>
                <div class="mt-12px">Codice Fiscale 02438750586</div>
                <a href="https://www.comune.roma.it/web/it/ufficio-stampa-uffici-e-contatti.page" class="mt-15px">Direzione Ufficio Stampa e Media</a>
                <a href="https://www.comune.roma.it/web/it/chiama-roma-060606.page"  class="mt-15px">Chiama Roma 060606</a>
                <a href="https://www.comune.roma.it/web/it/dipartimento-cybersecurity-e-sicurezza-urbana-uffici-e-contatti.page"  class="mt-15px">Ufficio Responsabile Protezione Dati (RPD)</a>
                <a href="https://www.comune.roma.it/web/it/contatti.page" class="mt-15px">Tutti i contatti</a>
            </div>

            <div class="footer-column color-white ">

                <div class="title-text mt-50px titolo-footer">Trasparenza</div>
                <a href="https://www.comune.roma.it/web/it/scheda-servizi.page?contentId=INF47043" class="mt-15px">Accesso civico</a>
                <a href="https://www.comune.roma.it/web/it/amministrazione-trasparente.page" class="mt-15px">Amministrazione Trasparente</a>
                <a href="https://www.comune.roma.it/web/it/whistleblowing.page" class="mt-15px">Whistleblowing</a>
                <a href="https://www.comune.roma.it/web/it/trasparenza-presenze-consiglieri-assemblea-capitolina.page" class="mt-15px">Presenze dei consiglieri dell'Assemblea Capitolina</a>
                <a href="https://www.comune.roma.it/web/it/trasparenza-accesso-sponsorizzazioni.page" class="mt-15px">Sponsorizzazioni</a>
                <a href="https://www.comune.roma.it/web/it/progetti-pnrr-e-altri-fondi-straordinari.page" class="mt-15px">Progetti PON, PNRR, Fondi Diretti, Fondi Strutturali</a>
            </div>

            <div class="footer-column color-white ">

                <div class="title-text mt-50px titolo-footer">Pubblicità legale</div>
                <a href="https://www.comune.roma.it/web/it/albo-pretorio-online.page" class="mt-15px">Albo pretorio online</a>
                <a href="https://www.comune.roma.it/web/it/pubblicazione-matrimoni.page" class="mt-15px">Pubblicazioni matrimoni</a>
                <a href="https://www.comune.roma.it/web/it/atti-di-notifica.page" class="mt-15px">Atti di notifica</a>
                <a href="https://www.comune.roma.it/web/it/notifica-unica-atti-giudiziari.page" class="mt-15px">Notifica unica atti giudiziari</a>
                <a href="https://www.comune.roma.it/web/it/servizio-notificazione-deposito-e-pubblicit-legale-degli-atti.page" class="mt-15px">Servizio notificazione, deposito e pubblicità legale degli atti</a>
            </div>

            <div class="footer-column color-white ">
                <div class="title-text mt-50px titolo-footer">Seguici su</div>
                <div class="icon-container">

                    <a href="https://www.facebook.com/RomaCapitaleOfficialPage"  title="Condividi su Facebook" target="_blank" class="single-social">
                        <fa-icon [icon]="faFacebookF">
                        </fa-icon></a>
                    <a href="https://x.com/roma"  title="Condividi su Twitter" target="_blank" class="single-social">
                        <fa-icon [icon]="faXTwitter">
                        </fa-icon>
                    </a>
                    <a href="https://www.youtube.com/notizieromacapitale"  title="Condividi su Youtube" target="_blank" class="single-social"> 
                         <fa-icon class="fa-custom-youtube">
                        </fa-icon>
                    </a>
                    <a href="https://www.instagram.com/roma/"  title="Condividi su Instagram" target="_blank" class="single-social">
                        <fa-icon [icon]="faInstagram">
                        </fa-icon>
                    </a>
                    <a href="https://www.linkedin.com/company/romacapitale/"  title="Condividi su Linkedin" target="_blank" class="single-social">
                        <fa-icon [icon]="faLinkedinIn">
                        </fa-icon>
                    </a>
                    <a href="https://www.whatsapp.com/channel/0029Va2Gj7WL7UVbp8jNya1C"  title="Condividi su Whatsapp" target="_blank" class="single-social">
                        <fa-icon [icon]="faWhatsapp">
                        </fa-icon>
                    </a>
                    <a href="https://www.tiktok.com/@roma.capitale?_t=8hLsxaA5oEy&_r=1"  title="Condividi su Tik Tok" target="_blank" class="single-social">
                        <fa-icon [icon]="faTiktok">
                        </fa-icon>
                    </a>
                </div>

                <a href="https://www.comune.roma.it/web/it/inforoma.page" class="mt-12px">INFORoMA</a>

            </div>

        </div>
    </div>


    <div class="footer-container  container-footer-menu mt-50px">
        <div class="footer-menu footer-menu-top">
        <a href="https://www.comune.roma.it/web/it/gestione-commissariale.page" class="color-white">Gestione commissariale</a>
        <a href="https://www.comune.roma.it/web/it/poteri-sostitutivi.page" class="color-white">Poteri sostitutivi</a>
        <a href="https://www.comune.roma.it/web/it/scheda-servizi.page?contentId=INF39687" class="color-white">Servizio civile volontario</a>
        <a href="https://www.comune.roma.it/web/it/craldipendenti.page" class="color-white">Cral Dipendenti</a>
        <a href="https://www.comune.roma.it/web/it/ipa-dipendenti.page" class="color-white">I.P.A. Dipendenti</a>
        <a href="http://www.marcoaurelio.comune.roma.it/" class="color-white">Marcoaurelio</a>
    </div>
    </div>


    <div class="footer-container container-footer-menu">
        <div class="footer-menu footer-menu-bottom">
            <div>
                <a href="https://www.comune.roma.it/web/it/mappa.page" class="color-white">Mappa del sito</a>
                <a href="https://form.agid.gov.it/view/f1bc2cc0-8206-11ee-8f80-8fcfc3d6a871" class="color-white">Dichiarazione di accessibilità</a>
                <a href="https://www.comune.roma.it/web/it/privacy.page" class="color-white">Privacy Policy</a>
                <a href="https://www.comune.roma.it/web/it/cookie-policy.page" class="color-white">Cookie Policy</a>
                <a href="https://www.comune.roma.it/web/it/note-legali.page" class="color-white">Note legali</a>
                <a href="https://www.comune.roma.it/web/it/note-legali.page" class="color-white">Social media policy</a>
            </div>
            <a href="https://www.comune.roma.it/spaziocomune" class="color-yellow">Intranet</a>
        </div>
    </div>




    <div class="container-loghi">

        <div>
            <a href="">
                <img src="assets/img/cookie-nuova.png" alt="">
            </a>
        </div>
        <div>
            @if(showButton) {
                <img class="torna-su-bottone" src="assets/img/freccia-su-nuova.png" alt="Torna su" (click)="scrollTop()">
            }
            
        </div>

    </div>

</footer>